.command {

  border: 1px solid black;
  float: right;
  width: 200px;
  height: 200px;
}

.command-state {
}

.command-label {

}

.command-state-active {
  color: green;
}

.command-state-disabled {
  color: red;
}