.tile {
  width: 56vw;
  height: 76vh;
  padding: 2vh 2vw;

  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}
